body, html {
    height: 100%;
}
#btn-searchIcon {
    padding-top: 5px;
    font-size: 22px;
    color: white;
}
#leftMenu {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 300px;
    background-color: #F7F7F7;
}
.searchInput {
    color: white;
    background-color: #5B7A59;
    border: 0;
}
.search {
    height: 45px;
    background-color: #5B7A59;
    width: 315px;
    padding-top: 5px;
}
#btn-HideMenu {
    color: white;
    font-size: 30px;
}
body {
    min-height: 100% !important;
    /* browser fill */
    width: auto;
    height: auto;
    background: url("../img/background.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: -40px;
}
.topMenu {
    padding-left: 250px;
    background-color: #668964;
    height: 45px;
    color: white;
    font-size: 20px;
    padding-top: 8px;
}
.possition {
    padding-left: 40px;
}
.glyphonicColor {
    color: #B2C4B1;
}
.newTask {
    margin-top: 20px;
    margin-left: 300px;
}
.taskInput {
    border: 0;
    background-color: #7A9575;
    color: white;
    width: 1592px;
}
::-webkit-input-placeholder { color: red; opacity: 1 !important; }
:-moz-placeholder { color: red;}
::-moz-placeholder {color: red;}
:-ms-input-placeholder {color: red;}
