body, html {
    height: 100%;
}
#btn-searchIcon {
    padding-top: 5px;
    font-size: 22px;
    color: white;
}
#leftMenu {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 300px;
    background-color: #F7F7F7;
}
.searchInput {
    color: white;
    background-color: #5B7A59;
    border: 0;
}
.search {
    height: 45px;
    background-color: #5B7A59;
    width: 315px;
}
#btn-HideMenu {
    color: white;
    font-size: 30px;
}
body {
    min-height: 100% !important;
    /* browser fill */
    width: auto;
    height: auto;
    background: url("../img/background.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: -40px;
}
.topMenu {
    padding-left: 320px;
    background-color: #668964;
    height: 45px;
    color: white;
    font-size: 20px;
    padding-top: 8px;
}
.menuGlyphonic {
padding-left: 900px;
}
